<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Type some info">
  <meta name="author" content="Ecommerce-ui.com">

  <title>Ecommerce-ui.com - Ecommerce website templates html</title>


<!-- FinalCSS -->
<link href="../css/final.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="py-3 border-bottom bg-secondary">
	<div class="container">
		<div class="d-flex gap-2 align-items-center justify-content-between">
			
			<a href="https://ecommerce-ui.com" class="d-block flex-shrink-0 hover:opacity-80 d-flex text-decoration-none align-items-center m-0">
				<img src="../images/logo-shape.svg" height="40">
				<div style="font-size:24px;" class="max-lg:hidden text-neutral-1000 text-xl font-semibold ml-1">Brand<span class="text-primary">name</span> </div>
			</a>
			
			<div>		
				<a href="http://ecommerce-ui.com" target="_blank" class="btn btn-primary-subtle">  Get all templates 	</a>
			</div>

		</div>
	</div> <!-- container end.// -->
</header> <!-- section-header end.// -->


<!-- ============== SECTION CONTENT ============== -->
<section class="py-8">
	<div class="container">

		<h4 class="mb-8">Your cart: <span class="text-muted">4 items</span></h4>

		<div class="row gap-8">
			<main class="lg:col-8">
				<div class="card shadow-sm mb-10 p-6">
		
					<!-- item cart  -->
					<article class="d-flex gap-2 mb-5 pb-5 border-bottom">

						<div class="d-flex align-items-center">
							<input type="checkbox" checked class="form-check-input">
						</div>

						<div class="mr-3 flex-shrink-0">
							<img src="placeholder.jpg" class="lg:w-40 w-20 ratio-1x1 rounded">
						</div>

						<div class="flex-grow">
							
							<div class="row">
								<div class="col-8">
									<h5 class="mb-2 font-medium  text-lg">
										<a href="#" class="text-dark">
										Microsoft Lumia 640 XL RM-1065 8GB Dual SIM
										</a>
									</h5>
									<p class="text-secondary mb-2">Size: medium • Color: blue •  Material: Plastic</p>
									<p class="text-secondary mb-2"> Seller: <a href="#">Artel Market </a> </p>
								</div>
								<div class="col text-right">
									<strong class="text-lg">$13.00</strong> <br>
									<small class="text-muted">Price for 1</small>
								</div>
							</div>
							
							<!-- === cart-item-actions === -->
							<div class="d-flex mt-5 gap-2">
								<!-- input quantity  -->
								<div class="d-flex">
									<button class="btn btn-icon btn-sm btn-default rounded-right-0" style="margin-right:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13H5v-2h14v2z"></path>
										</svg>
									</button>

									<input class="form-control h-8 rounded-0 relative z-10 text-center min-w-10 max-w-14 flex-shrink"  readonly value="2">
									
									<button class="btn btn-icon btn-sm btn-default rounded-left-0" style="margin-left:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
										</svg>
									</button>
								</div> 
								<!-- input quantity end .// -->
								<a href="#"  class="btn btn-sm btn-default">Save for later</a>
								<a href="#" class="btn btn-sm btn-default text-red">Remove</a>
							</div>
							<!-- === cart-item-actions === end.// -->

						</div>
					</article> 
					<!-- item cart .//end -->
					
					<!-- item cart  -->
					<article class="d-flex gap-2 mb-5 pb-5 border-bottom">

						<div class="d-flex align-items-center">
							<input type="checkbox" checked class="form-check-input">
						</div>

						<div class="mr-3 flex-shrink-0">
							<img src="placeholder.jpg" class="lg:w-40 w-20 ratio-1x1 rounded">
						</div>

						<div class="flex-grow">
							
							<div class="row">
								<div class="col-8">
									<h5 class="mb-2 font-medium  text-lg">
										<a href="#" class="text-dark">
										Microsoft Lumia 640 XL RM-1065 8GB Dual SIM
										</a>
									</h5>
									<p class="text-secondary mb-2">Size: medium • Color: blue •  Material: Plastic</p>
									<p class="text-secondary mb-2"> Seller: <a href="#">Artel Market </a> </p>
								</div>
								<div class="col text-right">
									<strong class="text-lg">$572.90</strong> <br>
									<small class="text-muted">Price for 2</small>
								</div>
							</div>
							
							<!-- === cart-item-actions === -->
							<div class="d-flex mt-5 gap-2">
								<!-- input quantity  -->
								<div class="d-flex">
									<button class="btn btn-icon btn-sm btn-default rounded-right-0" style="margin-right:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13H5v-2h14v2z"></path>
										</svg>
									</button>

									<input class="form-control h-8 rounded-0 relative z-10 text-center min-w-10 max-w-14 flex-shrink"  readonly value="2">
									
									<button class="btn btn-icon btn-sm btn-default rounded-left-0" style="margin-left:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
										</svg>
									</button>
								</div> 
								<!-- input quantity end .// -->
								<a href="#"  class="btn btn-sm btn-default">Save for later</a>
								<a href="#" class="btn btn-sm btn-default text-red">Remove</a>
							</div>
							<!-- === cart-item-actions === end.// -->

						</div>
					</article> 
					<!-- item cart .//end -->

					<!-- item cart  -->
					<article class="d-flex gap-2 mb-5 pb-5 border-bottom">

						<div class="d-flex align-items-center">
							<input type="checkbox" checked class="form-check-input">
						</div>

						<div class="mr-3 flex-shrink-0">
							<img src="placeholder.jpg" class="lg:w-40 w-20 ratio-1x1 rounded">
						</div>

						<div class="flex-grow">
							
							<div class="row">
								<div class="col-8">
									<h5 class="mb-2 font-medium  text-lg">
										<a href="#" class="text-dark">
										Keurig K-Express Coffee Maker, Single Serve K-Cup Pod Cof...
										</a>
									</h5>
									<p class="text-secondary mb-2">Size: Large • Color: red •  Material: Plastic</p>
									<p class="text-secondary mb-2"> Seller: <a href="#">Acme shop </a> </p>
								</div>
								<div class="col text-right">
									<strong class="text-lg">$48.99</strong> <br>
									<small class="text-muted">Price for 1</small>
								</div>
							</div>
							
							<!-- === cart-item-actions === -->
							<div class="d-flex mt-5 gap-2">
								<!-- input quantity  -->
								<div class="d-flex">
									<button class="btn btn-icon btn-sm btn-default rounded-right-0" style="margin-right:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13H5v-2h14v2z"></path>
										</svg>
									</button>

									<input class="form-control h-8 rounded-0 relative z-10 text-center min-w-10 max-w-14 flex-shrink"  readonly value="2">
									
									<button class="btn btn-icon btn-sm btn-default rounded-left-0" style="margin-left:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
										</svg>
									</button>
								</div> 
								<!-- input quantity end .// -->
								<a href="#"  class="btn btn-sm btn-default">Save for later</a>
								<a href="#" class="btn btn-sm btn-default text-red">Remove</a>
							</div>
							<!-- === cart-item-actions === end.// -->

						</div>
					</article> 
					<!-- item cart .//end -->

					<!-- item cart  -->
					<article class="d-flex gap-2 mb-5 pb-5 border-bottom">

						<div class="d-flex align-items-center">
							<input type="checkbox" checked class="form-check-input">
						</div>

						<div class="mr-3 flex-shrink-0">
							<img src="placeholder.jpg" class="lg:w-40 w-20 ratio-1x1 rounded">
						</div>

						<div class="flex-grow">
							
							<div class="row">
								<div class="col-8">
									<h5 class="mb-2 font-medium  text-lg">
										<a href="#" class="text-dark">
										Original Used Second hand Oppo Mobile phone 128GB
										</a>
									</h5>
									<p class="text-secondary mb-2">Size: medium • Color: blue •  Material: Plastic</p>
									<p class="text-secondary mb-2"> Seller: <a href="#">Artel Market </a> </p>
								</div>
								<div class="col text-right">
									<strong class="text-lg">$1,290.00</strong> <br>
									<small class="text-muted">Price for 4</small>
								</div>
							</div>
							
							<!-- === cart-item-actions === -->
							<div class="d-flex mt-5 gap-2">
								<!-- input quantity  -->
								<div class="d-flex">
									<button class="btn btn-icon btn-sm btn-default rounded-right-0" style="margin-right:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13H5v-2h14v2z"></path>
										</svg>
									</button>

									<input class="form-control h-8 rounded-0 relative z-10 text-center min-w-10 max-w-14 flex-shrink"  readonly value="2">
									
									<button class="btn btn-icon btn-sm btn-default rounded-left-0" style="margin-left:-1px" type="button"> 
										<svg width="22" height="22" fill="#333" viewBox="0 0 24 24">
											<path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"></path>
										</svg>
									</button>
								</div> 
								<!-- input quantity end .// -->
								<a href="#"  class="btn btn-sm btn-default">Save for later</a>
								<a href="#" class="btn btn-sm btn-default text-red">Remove</a>
							</div>
							<!-- === cart-item-actions === end.// -->

						</div>
					</article> 
					<!-- item cart .//end -->

					<p class="text-right">Subtotal (4 items): $1,655.99</p>
						
				</div> <!-- card.// -->

			</main> <!-- col.// -->
			<aside class="lg:col-4">

				<div class="card shadow-lg">
					<div class="card-body">
						
						<ul>
							<li class="d-flex justify-content-between mb-2">
								<label>Subtotal:</label> <var>$103.97</var>
							</li>
							<li class="d-flex justify-content-between mb-2">
								<label>Discount</label> <var>- $5.40</var>
							</li>
							<li class="d-flex justify-content-between mb-2">
								<label>Delivery cost:</label> <var> $9.00</var>
							</li>
							<li class="d-flex justify-content-between mb-2">
								<label>Tax:</label> <var>$3.90</var>
							</li>
						</ul>
						
						<hr>
						<dl class="d-flex justify-content-between">
							<dt class="">Total:</dt>
							<dd class="font-semibold text-lg"> $2,157.90 </dd>
						</dl>
						<div class="mt-2">
							<a href="#" class="btn btn-lg btn-green w-full"> Go to Checkout </a>
						</div>

						<figure class="d-flex p-2 bg-orange-100 mt-4 rounded">
							<span class="bg-white rounded p-1 w-10 h-10 d-flex flex-center mr-2">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" class="text-orange" xmlns="http://www.w3.org/2000/svg">
									<path d="M19.5 17.5C19.5 18.8807 18.3807 20 17 20C15.6193 20 14.5 18.8807 14.5 17.5C14.5 16.1193 15.6193 15 17 15C18.3807 15 19.5 16.1193 19.5 17.5Z" stroke="currentColor" stroke-width="1.5"/>
									<path d="M9.5 17.5C9.5 18.8807 8.38071 20 7 20C5.61929 20 4.5 18.8807 4.5 17.5C4.5 16.1193 5.61929 15 7 15C8.38071 15 9.5 16.1193 9.5 17.5Z" stroke="currentColor" stroke-width="1.5"/>
									<path d="M14.5 17.5H9.49995M15 16V4H1.99996L1.99976 17.5H4.49996M15.5 6.5H18.9998L21.9998 11L22 17.5H19.4998" stroke="currentColor" stroke-width="1.5"/>
									</svg>
							</span>
							<figcaption class="text-sm text-secondary">
								Delivered by <br> Fri, May 20, 2024
							</figcaption>
						</figure>
					</div> <!-- card-body.// -->
				</div> <!-- card.// -->

			</aside> <!-- col.// -->
		</div> <!-- row.// -->
	

	</div><!-- container // -->
</section>
<!-- =============== SECTION CONTENT END// ============== -->


<footer class="py-8 bg-base border-top">
	<div class="container">
		<p class="text-center text-secondary">
			Copyright © 2025 <a href="https://ecommerce-ui.com" target="_blank">Ecommerce-UI</a>. Made with love
		</p>
	</div>  <!-- container end.// -->
</footer>

</body>
</html>
	
