<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Type some info">
  <meta name="author" content="Ecommerce-ui.com">

  <title>Ecommerce-ui.com - Ecommerce website templates html</title>


<!-- FinalCSS -->
<link href="../css/final.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="py-3 border-bottom">
	<div class="container">
		<div class="d-flex gap-2 align-items-center justify-content-between">
			
			<a href="https://ecommerce-ui.com" class="d-block flex-shrink-0 hover:opacity-80 d-flex text-decoration-none align-items-center m-0">
				<img src="../images/logo-shape.svg" height="40">
				<div style="font-size:24px;" class="max-lg:hidden text-neutral-1000 text-xl font-semibold ml-1">Brand<span class="text-primary">name</span> </div>
			</a>
			
			<div>		
				<a href="http://ecommerce-ui.com" target="_blank" class="btn btn-primary-subtle">  Get all templates 	</a>
			</div>

		</div>
	</div> <!-- container end.// -->
</header> <!-- section-header end.// -->


<section class="py-16 border-bottom bg-secondary">
	<div class="container">
			<div class="row gap-5">
					<div class="md:col-4">
						<article class="card p-5 max-sm:flex-row">
							<div class="w-12 h-12 text-red bg-red-200 rounded d-flex flex-center flex-shrink-0 mr-4 mb-4">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
									<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
								</svg>
							</div>
							<div class="">
								<h4 class="text-lg mb-2">Super feature name</h4>
									<p class="text-secondary">
										Super amaizng great feature text can be here. But this information is for demo purpose
									</p>
							</div>
						</article>
					</div> <!-- col.//end -->

					<div class="md:col-4">
						<article class="card p-5 max-sm:flex-row">
							<div class="w-12 h-12 text-green bg-green-200 rounded d-flex flex-center flex-shrink-0 mr-4 mb-4">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
									<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
								</svg>
							</div>
							<div class="">
								<h4 class="text-lg mb-2">Feature name here</h4>
									<p class="text-secondary">
										Super amaizng great feature text can be here. But this information is for demo purpose
									</p>
							</div>
						</article>
					</div> <!-- col.//end -->

					<div class="md:col-4">
						<article class="card p-5 max-sm:flex-row">
							<div class="w-12 h-12 text-purple bg-purple-200 rounded d-flex flex-center flex-shrink-0 mr-4 mb-4">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
									<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
								</svg>
						</div>
							<div class="">
								<h4 class="text-lg mb-2">Great words here</h4>
									<p class="text-secondary">
										Super amaizng great feature text can be here. But this information is for demo purpose
									</p>
							</div>
						</article>
					</div> <!-- col.//end -->
					
			</div>
			<!-- row.//end -->
	</div>
</section>


<section class="py-16 border-bottom">
	<div class="container">
		<div class="row sm:row-cols-2 md:row-cols-4 gap-5">
			<div>
				<figure class="d-flex rounded flex-col bg-secondary px-5 py-8  align-items-center">
					<div class="w-20 h-20 text-red bg-red-200 rounded-full d-flex flex-center flex-shrink-0 mb-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" color="currentColor" fill="none">
							<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
						</svg>
					</div>
					<figcaption class="text-center">
						<h4 class="text-lg mb-2">Super feature name</h4>
						<p class="text-secondary">
							Super amaizng great feature text can be here. But this information is for demo purpose
						</p>
					</figcaption>
				</figure>
			</div> <!-- col.//end -->

			<div>
				<figure class="d-flex rounded flex-col bg-secondary px-5 py-8  align-items-center">
					<div class="w-20 h-20 text-green bg-green-200 rounded-full d-flex flex-center flex-shrink-0 mb-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" color="currentColor" fill="none">
							<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
						</svg>
					</div>
					<figcaption class="text-center">
						<h4 class="text-lg mb-2">Feature name here</h4>
							<p class="text-secondary">
								Super amaizng great feature text can be here. But this information is for demo purpose
							</p>
					</figcaption>
				</figure>
			</div> <!-- col.//end -->

			<div>
				<figure class="d-flex rounded flex-col bg-secondary px-5 py-8  align-items-center">
					<div class="w-20 h-20 text-purple bg-purple-200 rounded-full d-flex flex-center flex-shrink-0 mb-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" color="currentColor" fill="none">
							<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
						</svg>
					</div>
					<figcaption class="text-center">
						<h4 class="text-lg mb-2">Great words here</h4>
							<p class="text-secondary">
								Super amaizng great feature text can be here. But this information is for demo purpose
							</p>
					</figcaption>
				</figure>
			</div> <!-- col.//end -->

			<div>
				<figure class="d-flex rounded flex-col bg-secondary px-5 py-8  align-items-center">
					<div class="w-20 h-20 text-blue bg-blue-200 rounded-full d-flex flex-center flex-shrink-0 mb-4">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="32" height="32" color="currentColor" fill="none">
							<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
						</svg>
					</div>
					<figcaption class="text-center">
						<h4 class="text-lg mb-2">Great words here</h4>
							<p class="text-secondary">
								Super amaizng great feature text can be here. But this information is for demo purpose
							</p>
					</figcaption>
				</figure>
			</div> <!-- col.//end -->
		</div>
		<!-- row.//end -->
	</div> <!-- container.//end -->
</section>


<section class="py-16 border-bottom">
	<div class="container">
		<div class="d-grid md:grid-cols-2 lg:grid-cols-3 gap-8">
			<article class="d-flex">
				<div class="w-16 h-16 bg-neutral-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div>
					<h4 class="text-lg mb-2">Something very cool</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="d-flex">
				<div class="w-16 h-16 bg-neutral-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Great spec info</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="d-flex">
				<div class="w-16 h-16 bg-neutral-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Feature name here</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="d-flex">
				<div class="w-16 h-16 bg-neutral-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Super cool item</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="d-flex">
				<div class="w-16 h-16 bg-neutral-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Super cool item</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="d-flex">
				<div class="w-16 h-16 bg-neutral-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Super cool item</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>
		</div> <!-- grid.//end -->
	</div> <!-- container.//end -->
</section>



<section class="py-16 border-bottom">
	<div class="container">
		<div class="row row-cols-1 sm:row-cols-2 md:row-cols-4 gap-5">
			<article class="max-sm:d-flex max-sm:flex-row">
				<div class="w-12 h-12 text-red bg-orange-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Super feature name</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="max-sm:d-flex max-sm:flex-row">
				<div class="w-12 h-12 text-red bg-red-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Super feature name</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="max-sm:d-flex max-sm:flex-row">
				<div class="w-12 h-12 text-green bg-green-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Feature name here</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>

			<article class="max-sm:d-flex max-sm:flex-row">
				<div class="w-12 h-12 text-purple bg-purple-200 rounded-circle d-flex flex-center flex-shrink-0 mr-4 mb-4">
					<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" color="currentColor" fill="none">
						<path d="M14.5327 9.13751L12 2.5L9.46734 9.13751L2.5 9.47824L7.77778 14.1111L5.84894 21.5L12 17.2778L18.1511 21.5L16.2222 14.1111L21.5 9.47824L14.5327 9.13751Z" stroke="currentColor" stroke-width="2" stroke-linejoin="round" />
					</svg>
				</div>
				<div class="">
					<h4 class="text-lg mb-2">Feature name here</h4>
					<p class="text-secondary">
						Super amaizng great feature text can be here. But this information is for demo purpose
					</p>
				</div>
			</article>
		</div> <!-- row.//end -->
	</div> <!-- container.//end -->
</section>




<footer class="py-8 bg-base border-top">
	<div class="container">
		<p class="text-center text-secondary">
			Copyright © 2025 <a href="https://ecommerce-ui.com" target="_blank">Ecommerce-UI</a>. Made with love
		</p>
	</div>  <!-- container end.// -->
</footer>

</body>
</html>
	
