<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Type some info">
  <meta name="author" content="Ecommerce-ui.com">

  <title>Ecommerce-ui.com - Ecommerce website templates html</title>


<!-- FinalCSS -->
<link href="../css/final.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="py-3 border-bottom">
	<div class="container">
		<div class="d-flex gap-2 align-items-center justify-content-between">
			
			<a href="https://ecommerce-ui.com" class="d-block flex-shrink-0 hover:opacity-80 d-flex text-decoration-none align-items-center m-0">
				<img src="../images/logo-shape.svg" height="40">
				<div style="font-size:24px;" class="max-lg:hidden text-neutral-1000 text-xl font-semibold ml-1">Ecommerce<span class="text-primary">UI</span> </div>
			</a>
			
			<div>		
				<a href="http://ecommerce-ui.com" target="_blank" class="btn btn-primary-subtle">  Get all templates 	</a>
			</div>

		</div>
	</div> <!-- container end.// -->
</header> <!-- section-header end.// -->

<section class="py-10  bg-secondary">
  <div class="container">
	<br><br>
	<h5  class="mb-4">Footer light style</h5>
	 <p class="text-secondary">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eveniet doloremque, veritatis ducimus repellat illum totam, quae praesentium quia pariatur ipsa perferendis! Quod nam quis qui, alias earum eligendi labore!
	</p>
	<br><br>
  </div> <!-- container end.// -->
</section>

<footer class="border-top shadow relative">
	<section class="py-12">
		<div class="container d-grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
			<div class="lg:col-span-3">
				<a href="https://ecommerce-ui.com" class="hover:opacity-80 d-flex text-decoration-none align-items-center">
					<img src="../images/logo-shape.svg" height="40">
					<div style="font-size:24px;" class="max-lg:hidden text-dark text-xl font-semibold ml-1">Brand<span class="text-primary">name</span> </div>
				</a>	
				<p class="mt-4 text-secondary">
					© 2018- 2025 Ecommerce UI LLC <br> All rights reserved. 
				</p>
			</div>
			<nav class="nav nav-col align-items-start gap-2">
				<h6 class="mb-3">Company</h6>
				<a href="#">About us</a>
				<a href="#">Investors</a>
				<a href="#">Careers</a>
				<a href="#">Blogs and news</a>
			</nav>
			<nav class="nav nav-col align-items-start gap-2">
				<h6 class="mb-3">Store</h6>
				<a href="#">Find store</a>
				<a href="#">Sell with us</a>
				<a href="#">Registration</a>
				<a href="#">Partnership</a>
			</nav>
			<nav class="nav nav-col align-items-start gap-2">
				<h6 class="mb-3">Support</h6>
				<a href="#">Contact us</a>
				<a href="#">Community</a>
				<a href="#">Live chat</a>
				<a href="#">Track order</a>
			</nav>
		</div> <!-- container end.// -->
	</section> 

	<section class="py-5 border-top">
		<div class="container">
			<img class="float-right" src="../images/logo-payments.png" height="24" alt="">
			<nav class="nav gap-3">
				<a href="#">Cookie policy</a>  <a href="#">Terms of service</a>
			</nav>
		</div>
	</section>
</footer>


<section class="py-10 bg-secondary">
	<div class="container">
		<br><br>
		<h5 class="mb-4">Footer dark style</h5>
	   	<p class="text-secondary">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eveniet doloremque, veritatis ducimus repellat illum totam, quae praesentium quia pariatur ipsa perferendis! Quod nam quis qui, alias earum eligendi labore!
	</p>
	<br><br>
	</div> <!-- container end.// -->
  </section>
  
  <footer class="border-top bg-neutral-900">
	  <section class="py-12">
		  <div class="container d-grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4">
			  <div class="lg:col-span-3">
				  <a href="https://ecommerce-ui.com" class="hover:opacity-80 d-flex text-decoration-none align-items-center">
					  <img src="../images/logo-shape.svg" height="40">
					  <div style="font-size:24px;" class="max-lg:hidden text-white text-xl font-semibold ml-1">Brand<span class="text-primary-400">name</span> </div>
				  </a>	
				  <p class="mt-4 text-neutral-400">
					  © 2018- 2025 Ecommerce UI LLC <br> All rights reserved. 
				  </p>
			  </div>
			  <nav class="nav nav-col align-items-start gap-2">
				  <h6 class="mb-3 text-white">Company</h6>
				  <a href="#" class="text-primary-300">About us</a>
				  <a href="#" class="text-primary-300">Investors</a>
				  <a href="#" class="text-primary-300">Careers</a>
				  <a href="#" class="text-primary-300">Blogs and news</a>
			  </nav>
			  <nav class="nav nav-col align-items-start gap-2">
				  <h6 class="mb-3 text-white">Store</h6>
				  <a href="#" class="text-primary-300">Find store</a>
				  <a href="#" class="text-primary-300">Sell with us</a>
				  <a href="#" class="text-primary-300">Registration</a>
				  <a href="#" class="text-primary-300">Partnership</a>
			  </nav>
			  <nav class="nav nav-col align-items-start gap-2">
				  <h6 class="mb-3 text-white">Support</h6>
				  <a href="#" class="text-primary-300">Contact us</a>
				  <a href="#" class="text-primary-300">Community</a>
				  <a href="#" class="text-primary-300">Live chat</a>
				  <a href="#" class="text-primary-300">Track order</a>
			  </nav>
		  </div> <!-- container end.// -->
	  </section> 
  
	  <section class="py-6 border-top border-color-neutral-700">
		  <div class="container">
			  <img class="float-right" src="../images/logo-payments.png" height="24" alt="">
			  <nav class="nav gap-3">
				  <a href="#" class="text-primary-300">Cookie policy</a>  <a href="#" class="text-primary-300">Terms of service</a>
			  </nav>
		  </div>
	  </section>
  </footer>






</body>
</html>
