<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Type some info">
  <meta name="author" content="Ecommerce-ui.com">

  <title>Ecommerce-ui.com - Ecommerce website templates html</title>


<!-- FinalCSS -->
<link href="../css/final.css" rel="stylesheet" type="text/css" />

</head>
<body>

<header class="py-3 border-bottom bg-base">
	<div class="container">
		<div class="d-flex gap-2 align-items-center justify-content-between">
			
			<a href="https://ecommerce-ui.com" class="d-block flex-shrink-0 hover:opacity-80 d-flex text-decoration-none align-items-center m-0">
				<img src="../images/logo-shape.svg" height="40">
				<div style="font-size:24px;" class="max-lg:hidden text-neutral-1000 text-xl font-semibold ml-1">Brand<span class="text-primary">name</span> </div>
			</a>
			
			<div>		
				<a href="http://ecommerce-ui.com" target="_blank" class="btn btn-primary-subtle">  Get all templates 	</a>
			</div>

		</div>
	</div> <!-- container end.// -->
</header> <!-- section-header end.// -->



<!-- ============== SECTION CONTENT  ============== -->
<section class="py-10 bg-secondary">
	<div class="container">
	
	<div class="row">
		<aside class="lg:col-3">
			
			<div class="card card-body mb-5">
				<h5>A sidebar </h5>
			
				<p class="my-2 text-secondary">
					This is demo sidebar sample, can be filters here. So ipsum dolor sit amet consectetur adipisicing elit. 
					Dignissimos itaque amet accusantium iste provident quaerat, 
					mollitia fugiat sit accusamus illum earum a voluptas ut illo eos reprehenderit cum facere. Atque.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. 
					Dignissimos itaque amet accusantium iste provident quaerat, 
					mollitia fugiat sit accusamus illum earum a voluptas ut illo eos reprehenderit cum facere. Atque.
				</p>
			</div>

		</aside> <!-- col .// -->
		<main class="lg:col-9">
	
			<!-- ========= Content items ========= -->
			
			<!-- priduct item -->
			<article class="card mb-3 overflow-hidden">
				<div class="row gap-0">
					<aside class="sm:col-5 lg:col-4">
						<a href="#" class="bg-neutral-200 d-block overflow-hidden h-100% hover:opacity-80"> 
							<img src="placeholder.jpg" width="300" class="h-100% w-100%"> 
						</a>
					</aside> <!-- col.// -->
					<div class="sm:col-7 lg:col-8">
							<div class="px-5 py-6">
								<h5 class="mb-2 text-lg"><a href="#" class="text-dark"> Canon Camera EOS 2000, Black 10x zoom  </a></h5>
								<p class="mb-1">By Charlotte Rogan,</p>
								
								<p class="text-secondary">Seller: AB Technology Ltd</p>
								
								<div class="d-flex gap-2 my-2">
									<span class="text-secondary"> ⭐⭐⭐⭐⭐  4.5</span>
									<b  class="text-muted">•</b>
									<span class="label-rating text-green">Free shipping</span>
								</div> <!-- rating .// -->
	
								<div class="mb-4">
									<strong> $899.50 </strong> <del class="text-muted">$298.00 </del>
								</div> 
								<button class="btn btn-primary"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
									Add to cart
								</button>
								<button class="btn btn-default"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg> 
									Save for later
								</button>
							</div>
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</article>
			<!-- priduct item end.//-->

			<!-- priduct item -->
			<article class="card mb-3 overflow-hidden">
				<div class="row gap-0">
					<aside class="sm:col-5 lg:col-4">
						<a href="#" class="bg-neutral-200 d-block overflow-hidden h-100% hover:opacity-80"> 
							<img src="placeholder.jpg" width="300" class="h-100% w-100%"> 
						</a>
					</aside> <!-- col.// -->
					<div class="sm:col-7 lg:col-8">
							<div class="px-5 py-6">
								<h5 class="mb-2 text-lg"><a href="#" class="text-dark">  The Lifeboat - A book about life </a></h5>
								<p class="mb-1">By Alex Johnathan</p>
								
								<p class="text-secondary">Seller: Acme Company</p>
								
								<div class="d-flex gap-2 my-2">
									<span class="text-secondary"> ⭐⭐⭐⭐⭐  4.5</span>
									<b  class="text-muted">•</b>
									<span class="label-rating text-green">Free shipping</span>
								</div> <!-- rating .// -->
	
								<div class="mb-4">
									<strong> $76.00 </strong> 
								</div> 
								<button class="btn btn-primary"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
									Add to cart
								</button>
								<button class="btn btn-default"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg> 
									Save for later
								</button>
							</div>
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</article>
			<!-- priduct item end.//-->
			
			<!-- priduct item -->
			<article class="card mb-3 overflow-hidden">
				<div class="row gap-0">
					<aside class="sm:col-5 lg:col-4">
						<a href="#" class="bg-neutral-200 d-block overflow-hidden h-100% hover:opacity-80"> 
							<img src="placeholder.jpg" width="300" class="h-100% w-100%"> 
						</a>
					</aside> <!-- col.// -->
					<div class="sm:col-7 lg:col-8">
							<div class="px-5 py-6">
								<h5 class="mb-2 text-lg"><a href="#" class="text-dark"> Great product name goes here with super params </a></h5>
								<p class="mb-1">By Charlotte Rogan,</p>
								
								<p class="text-secondary">Seller: AB Technology Ltd</p>
								
								<div class="d-flex gap-2 my-2">
									<span class="text-secondary"> ⭐⭐⭐⭐⭐  4.5</span>
									<b  class="text-muted">•</b>
									<span class="label-rating text-green">Free shipping</span>
								</div> <!-- rating .// -->
	
								<div class="mb-4">
									<strong> $899.50 </strong>
								</div> 
								<button class="btn btn-primary"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-shopping-cart-icon lucide-shopping-cart"><circle cx="8" cy="21" r="1"/><circle cx="19" cy="21" r="1"/><path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"/></svg>
									Add to cart
								</button>
								<button class="btn btn-default"> 
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-heart-icon lucide-heart"><path d="M19 14c1.49-1.46 3-3.21 3-5.5A5.5 5.5 0 0 0 16.5 3c-1.76 0-3 .5-4.5 2-1.5-1.5-2.74-2-4.5-2A5.5 5.5 0 0 0 2 8.5c0 2.3 1.5 4.05 3 5.5l7 7Z"/></svg> 
									Save for later
								</button>
							</div>
					</div> <!-- col.// -->
				</div> <!-- row.// -->
			</article>
			<!-- priduct item end.//-->
			 
			<!-- pagination -->
			<footer class="d-flex my-4">
				<div>
					<a href="javascript: history.back()" class="btn btn-default"> &laquo; Go back</a>
				</div>
				
				<nav class="ml-auto">
					<a class="btn min-w-10 btn-default" disabled href="#">Prev</a>
					<a class="btn min-w-10 btn-default" href="#">1</a>
					<a class="btn min-w-10 btn-default" href="#">2</a>
					<a class="btn min-w-10 btn-default" href="#">3</a>
					<a class="btn min-w-10 btn-default" href="#">Next</a>
				</nav>
			</footer>
			<!-- pagination .//end -->
	
			<!-- ========= content items .//end ========= -->
	
		</main> <!-- col .// -->
	</div> <!-- row .// -->
	
	</div> <!-- container .//  -->
</section>
<!-- ============== SECTION CONTENT END// ============== -->


<footer class="py-8 bg-base border-top">
	<div class="container">
			<p class="text-center text-secondary">
				Copyright © 2025 <a href="https://ecommerce-ui.com" target="_blank">Ecommerce-UI</a>. Made with love
			</p>
	</div> <!-- container end.// -->
</footer>

</body>
</html>
